In [1]:
for i in range(1,4):
    for j in range(1,4):
        print(j,end=' ')
    print()

1 2 3
1 2 3
1 2 3

In [2]:
for i in range(1,4):
    for j in range(1,4):
        print(i,end=' ')
    print()

1 1 1
2 2 2
3 3 3

In [12]:
#Floyd's triangle
for i in range(1,10):
    for j in range(i):
        print(i,end='')
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [23]:
for i in range(1,7):
    for j in range(1,i):
        print(j,end='')
    print(i)

1
12
123
1234
12345
123456

In [33]:
for i in range(1,10):
    for j in range(1,i):
        print(chr(i+64),end='')
    print(chr(i+64))

A
BB
CCC
DDDD
EEEEE
FFFFFF
GGGGGGG
HHHHHHHH
IIIIIIIII

In [28]:
for i in range(65,70):
    for j in range(65,i):
        print(chr(j),end='')
    print(chr(i))

A
AB
ABC
ABCD
ABCDE

In [22]:
for i in range(5):
    for j in range(i):
        print('*',end='')
    print('*')

*
**
***
****
*****

In [38]:
#pascal triangle
n=40
for i in range(1,10):
    print(' '*n,end=' ')
    print('* '*i)
    n-=1

                                         *
                                        * *
                                       * * *
                                      * * * *
                                     * * * * *
                                    * * * * * *
                                   * * * * * * *
                                  * * * * * * * *
                                 * * * * * * * * *

In [ ]:
#06/12/2023

In [1]:
for r in range(1,6):
    for c in range(1,6):
        print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [2]:
for r in range(1,4):
    for c in range(1,12,2):
        print(c,end=' ')
    print()

1 3 5 7 9 11
1 3 5 7 9 11
1 3 5 7 9 11

In [5]:
for r in range(1,6):
    for c in range(1,r+1):
        print(c,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [13]:
for r in range(1,6):
    for c in range(5,r-1,-1):
        print(c,end=' ')
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [19]:
for r in range(1,7):
    for c in range(1,r+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [28]:
for r in range(1,5):
    for c in range(4,r-1,-1):
        print('*',end=' ')
    print()

* * * *
* * *
* *
*

In [30]:
#logic 1
for r in range(1,6):
    if r==5:
        for c in range(1,6):
            print('*',end=' ')
    print()

* * * * *

In [31]:
#logic 2
for r in range(1,6):
    for c in range(1,6):
        if r==5:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *

In [42]:
# for r in range(1,8):
#     for c in range(1,6):
#         if 1==r:
#             print('*',end=' ')
#         elif c==3:
#             print('*',end=' ')
#         else:
#             print(' ',end=' ')
#     print()

for r in range(1,8):
    for c in range(1,6):
        if 1==r or c==3:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
    *
    *
    *
    *
    *
    *

In [14]:
for r in range(1,6):
    for c in range(5,r-1,-1):
        print(c,end=' ')
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [15]:
for r in range(1,6):
    for c in range(1,6):
        if r<=c:
            print(c,end=' ')
        else:
            print(' ',end=' ')
    print()

1 2 3 4 5
  2 3 4 5
    3 4 5
      4 5
        5

* * * * * * * * * * 
* * * *     * * * * 
* * *         * * * 
* *             * * 
*                 *

In [18]:
for r in range(1,6):
    for c in range(1,11):
        if r+c<=6 or c-r>=5:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [28]:
for i in range(1,6):
    for j in range(1,11):
        if j+i<=6 or j-i>=5:
            print(j,end=' ')
        else: 
            print(' ',end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4     7 8 9 10
1 2 3         8 9 10
1 2             9 10
1                 10

In [30]:
for i in range(1,6):
    for j in range(1,6):
        if i==3 or j==3:
            print('*',end=' ')
        else:
            print(' ', end=' ')
    print()

    *
    *
* * * * *
    *
    *

In [32]:
for i in range(1,6):
    for j in range(1,6):
        if i==1 or i==5 or j==1 or j==5:
            print('*',end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [33]:
for i in range(1,6):
    for j in range(1,6):
        if i==5 or j==1:
            print('*',end=' ')
        else:
            print(' ', end=' ')
    print()

*
*
*
*
* * * * *