In [4]:
class bank:
    b_name='SBI'
    IFSC='SBI1234'
    banch='hyd'
    num=0
    def __init__(self):
        name='khann'
        print(bank.num,self.__dict__)
obj=bank()

0 {}

In [9]:
s=(input('enter'))
b=s.split()
print(b)

['5', '5']

In [8]:
import pymysql
con=pymysql.connect(host='localhost',user='root',passwd='imran',database='mahfil')
cur1=con.cursor()
cur2=con.cursor()


# class hotel:
#     users={}
#     address='hyd'
#     def __init__(self,id,pin):
#         self.id=id
#         self.pin=pin
#         print(self.__dict__)
#         for i in hotel.__dict__:
#             print(i,hotel.__dict__[i],sep='             ')


def home(u_name,id,pin):
    
    pass

def login():
    # cur1.execute(f'select* from users where name="{u_name}"')
    # VAL=cur1._rows
    # print(VAL)
    # # u_name=hotel(id,pin)
    # class food_menu:
    #      pass
    u_name=input('enter your name')
    id=int(input('inter ID:'))
    pin=int(input('enter PIN:'))
    cur1.execute(f'select* from users where name="{u_name}"')
    value=cur1._rows
    # print(value)
    if len(value)!=0 and id==value[0][1] and pin==value[0][2]:
        home(u_name,id,pin)
        # pass
    else:
        print('enter login details currectly')

def register():
    u_name=input('enter your name')
    id=int(input('inter ID:'))
    pin=int(input('enter PIN:'))
    cur1.execute(f'select * from users where name="{u_name}" ')
    value=cur1._rows
    print(value)
    if len(value)!=0:
        if u_name==value[0][0]:
            print('already registered','pleaze login')
            run()
    else:
            print('this line')
            cur1.execute(f"insert into users values ('{u_name}', {id}, {pin})")
            # con.commit()
            login(u_name,id,pin)

def run():
    choice=int(input('select:\n1.Register\n2.Login\n3.exit'))
    match choice:
        case 1:
            register()
        case 2:
            login()
        case _:
            print('exited')
            return
# user1=hotel(100,1111)

run()
# print(hotel.users)
cur1.close()
cur2.close()
con.close()

(('IMRAN', 100, 1111),)
already registered pleaze login
exited

In [72]:
# import pymysql
# con=pymysql.connect(host='localhost',user='root',passwd='imran')
# cur1=con.cursor()
# cur1.execute('create database Mahfil')
# print('success...')
# cur1.close()
# con.close()

In [15]:
import pymysql
con=pymysql.connect(host='localhost',user='root',passwd='imran',database='mydb15')
cur1=con.cursor()
name='IMRANk'
id=100
pin=1111
# cur1.execute(f'select name from student ')
# va=cur1._rows
# print(va,type(va))
cur1.execute(f'select rollno,marks from student where name="IMRAN" ')
cur1.execute(f'insert into student values ("{name}",{id},{pin})')
cur1.execute(f'select * from student where name="{name}"')
h=cur1._rows
print(h,type(h))
cur1.execute(f'select* from student')

# print(cur1._rows)
# cur1.execute('update users set id=100 where name="IMRAN"')
# cur1.execute('select* from users')
value=cur1._rows
print(value)
# con.commit()
# print(cur1)
# for i in cur1:
    # print(i)
cur1.close()
con.close()
# print(value)

(('IMRANk', 100, 1111),) <class 'tuple'>
(('MILLER', 501, 94), ('BLACK', 502, 98), ('IMRAN', 503, 77), ('HARI', 504, 83), ('IMRANj', 100, 1111), ('IMRANk', 100, 1111))