In [1]:
import sqlite3 as sq        #import the sqlite3 module
db=sq.connect('employee.db')    #create the connection in between sqlite3 to python
print(db)
cus=db.cursor() #create the sqlite3 cursor inside the python
print(cus)

# cus.execute('create table employee(id int,name varchar(20))') #to execute the query

# cus.executemany('create table employee(id int,name varchar(20))')   #to execute the multiple query

cus.fetchall()  #it convert sql data to python data and it will fetch all the record

cus.fetchone()  #it convert sql data to python data and it will fetch one the record

cus.fetchmany() #it convert sql data to python data , it will fetch the records based on size

db.commit() #to save all the transactions

# db.close()  #to close the db connection

<sqlite3.Connection object at 0x000001A4D5FA2340>
<sqlite3.Cursor object at 0x000001A4D61DBDC0>

In [3]:
#configuration
db=sq.connect('student.sqlite3')
cur=db.cursor()

In [7]:
# query='''create table student(
# sid int primary key,
# name varchar(50),
# age int,
# email varchar(50) unique,
# phone bigint unique,
# address varchar(100),
# marks int)'''

# cur.execute(query)
# print(cur.rowcount,'row affected')

-1 row affected

In [8]:
db.commit()

In [16]:
query='''insert into student(sid,name,age,email,phone,address,marks)
values(2,'gopi',26,'gopi@gmail.com',878781235,'hyd',98)'''
cur.execute(query)
print(cur.rowcount,'row created')
db.commit()

1 row created

In [29]:
query='''select * from student'''
cur.execute(query)
res=cur.fetchall() 
print(res) 
for i in res:
    print(i)

[(1, 'imran', 21, 'imran@gmail.com', 878789252, 'hyd', 77), (2, 'gopi', 26, 'kumar@gmail.com', 878781235, 'hyd', 98)]
(1, 'imran', 21, 'imran@gmail.com', 878789252, 'hyd', 77)
(2, 'gopi', 26, 'kumar@gmail.com', 878781235, 'hyd', 98)

In [31]:
query='''update student set email='kumar@gmail.com' where sid=2'''
cur.execute(query)
print(cur.rowcount,'row updated')
db.commit()

1 row updated

In [13]:
query='''delete from student where sid=2'''
cur.execute(query)
print(cur.rowcount,'row updated')

1 row updated

In [ ]:
def insert_record(sid,name,age,email,phone,address,marks):
    query='''insert into student(sid,name,age,email,phone,address,marks)
values(?,?,?,?)'''