In [1]:
import sqlite3 as sq        #import the sqlite3 module
db=sq.connect('employee.db')    #create the connection in between sqlite3 to python
print(db)
cus=db.cursor() #create the sqlite3 cursor inside the python
print(cus)

# cus.execute('create table employee(id int,name varchar(20))') #to execute the query

# cus.executemany('create table employee(id int,name varchar(20))')   #to execute the multiple query

cus.fetchall()  #it convert sql data to python data and it will fetch all the record

cus.fetchone()  #it convert sql data to python data and it will fetch one record

cus.fetchmany() #it convert sql data to python data , it will fetch the records based on size

db.commit() #to save all the transactions

# db.close()  #to close the db connection

<sqlite3.Connection object at 0x000001A4D5FA2340>
<sqlite3.Cursor object at 0x000001A4D61DBDC0>

In [4]:
#configuration
import sqlite3 as sq        #import the sqlite3 module
db=sq.connect('student.sqlite3')
cur=db.cursor()

In [7]:
# query='''create table student(
# sid int primary key,
# name varchar(50),
# age int,
# email varchar(50) unique,
# phone bigint unique,
# address varchar(100),
# marks int)'''

# cur.execute(query)
# print(cur.rowcount,'row affected')

-1 row affected

In [8]:
db.commit()

In [16]:
query='''insert into student(sid,name,age,email,phone,address,marks)
values(2,'gopi',26,'gopi@gmail.com',878781235,'hyd',98)'''
cur.execute(query)
print(cur.rowcount,'row created')
db.commit()

1 row created

In [29]:
query='''select * from student'''
cur.execute(query)
res=cur.fetchall() 
print(res) 
for i in res:
    print(i)

[(1, 'imran', 21, 'imran@gmail.com', 878789252, 'hyd', 77), (2, 'gopi', 26, 'kumar@gmail.com', 878781235, 'hyd', 98)]
(1, 'imran', 21, 'imran@gmail.com', 878789252, 'hyd', 77)
(2, 'gopi', 26, 'kumar@gmail.com', 878781235, 'hyd', 98)

In [31]:
query='''update student set email='kumar@gmail.com' where sid=2'''
cur.execute(query)
print(cur.rowcount,'row updated')
db.commit()

1 row updated

In [13]:
query='''delete from student where sid=2'''
cur.execute(query)
print(cur.rowcount,'row updated')

1 row updated

In [23]:
def insert_record(sid,name,age,email,phone,address,marks):
    query='''insert into student(sid,name,age,email,phone,address,marks)
values(?,?,?,?,?,?,?)'''
    val=[sid,name,age,email,phone,address,marks]
    cur.execute(query,val)
    print(cur.rowcount,'row created')
    db.commit()

# insert_record(3,'khan',23,'khan@gmail.com',934543432,'hyd',67)

In [2]:
def fetch_record():
    query='''select * from student'''
    cur.execute(query)
    for i in cur.fetchall():
        print(i)
# fetch_record()

In [8]:
def update_record(sid,phone,marks):
    query='''update student set phone=? , marks=? where sid=?'''
    val=[phone,marks,sid]
    cur.execute(query,val)
    print(cur.rowcount,'row created')
    db.commit()
# update_record(3,6542635,54)

In [19]:
def delete_record(sid):

    query='''delete from student where sid=?'''
    val=[sid]
    cur.execute(query,val)
    print(cur.rowcount,'row created')
    db.commit()
# delete_record(3)

1 row created

In [9]:
def main():
    m=int(input('choose the option:\n1:insert\n2:fetch\n3:update\n:delete\n5:exit'))
    match m:
        case 1:
            insert_record(int(input('enter the sid')),
                          input('enter the name'),
                          int(input('enter the age')),
                          input('enter the mail'),
                          int(input('enter the phone')),
                          input('enter the address'),
                          int(input('enter the marks')))
        case 2:
            fetch_record()
        
        case 3:
            update_record(int(input('enter the sid')),int(input('enter the phone')),int(input('enter the marks')))
        
        case 4:
            delete_record(int(input('enter the sid')))
        
        case __:
            return
    
    # main()
main()

1 row created