In [64]:
#wap to print 'helloworld
print('helloworld')

helloworld

In [65]:
#wap to print multi variable syntax and type of variable
a,b,c,d=20,[20,40,50],{23,'str'},77.77j
print(a,b,c,d)
#type of data
print(type(a))
print(type(b))
print(type(c))
print(type(d))

20 [20, 40, 50] {'str', 23} 77.77j
<class 'int'>
<class 'list'>
<class 'set'>
<class 'complex'>

In [66]:
#wap to swap to values with  temp variable
a='hello'
print(a)
b='haii'
print(b)
temp =a
a=b
b=temp
print(a,b)
# without temp variable
m=[20,40]
print(m)
n=[70,80]
print(n)
m,n=n,m
print('m is:',m,'n is:',n)

hello
haii
haii hello
[20, 40]
[70, 80]
m is: [70, 80] n is: [20, 40]

In [8]:
#wap to convert single value to multi value datatype
#i/p a=20 , o/p a=['2','0']
a=20
a=str(a)
print(a)
print(list(a))
print(str(a))

20
['2', '0']
20

In [68]:
#to concate multi value datatype
a='hello'
a+='world'
print(a)
b=[10,30,20,40]
b+=(90,900)
print(b)
l=(20,44,22);l=l+(222,333)
print(l)
x={'10':20,30:'str',}
x|={'a':33}
print(x)

helloworld
[10, 30, 20, 40, 90, 900]
(20, 44, 22, 222, 333)
{'10': 20, 30: 'str', 'a': 33}

In [69]:
#wap to find middle value of the given collection
d=[999,333,444,222,777]
print(d[len(d)//2])
#wap to concate new string into middle of the existing string
var='starthings'
print(var)
var=var[0:len(var)//2]+' at middle of '+var[(len(var)//2)+1:]
print(var)

444
starthings
start at middle of ings

In [70]:
#wap to concate list and tuple values by using type_casting
l=['a','b','c']
t=(20,30,40)
l=l+list(t) # or l+=t we get same address
t=tuple(l)+t # or t+=tuple(l) we get deff address eventhough we use += operator. because tuple is immutable.


print(l)
print(t)

['a', 'b', 'c', 20, 30, 40]
('a', 'b', 'c', 20, 30, 40, 20, 30, 40)

In [71]:
#to check the given number is divisible by 3
a=323;b=30
print(a%3==0); print(b%3==0)
#to check the given number is divisible by 2 and 6
print(a%2==0 and a%6==0);print(b%2==0 and b%6==0)
# to extract the last digit from the given number without typecasting
n=1999
print(n%10)
# to check the last digit is divisible by 3 from the given integer number without typecasting
s=7777
print((s%10)%3==0)

False
True
False
True
9
False

In [72]:
# wap to extract last digit from a given number using type casting
a=23454
print(str(a)[-1])

'''wap to check the given number is divisible by 3 using type casting  '''
n=2026
print(int(str(n))%3==0)

4
False

In [10]:
#wap to check the given number is greater than 150
a=336
print(a>150)
# 60: wap to check the given number is even
print(('even','not even')[(a%2!=0)])
#61: wap to check the given number is odd
b=47
print(('odd','even')[(b%2==0)])
#59:to check the number is greater than 15 and less than 24
e=20
print(e>15 and e<24)

True
even
odd
True

range:-
in between :- start < value and value < end

between    :- start <= value and value <= end

range      :- start <= value and value <= end

In [74]:
#62: to check replication of a given string with 6
s='123';a=(20,30);b={10,20};c={10:20}
print(s*6)
print(a*6)
print(b*6)
print(c*6)
# unsuported operand * for set and dict

123123123123123123
(20, 30, 20, 30, 20, 30, 20, 30, 20, 30, 20, 30)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [ ]:
# to check the given number is divisible by 3 and also should be greater than 22
a=333;b=18
print(a%3==0 and a>22)
print(b%3==0 and b>22)
# to check the length of the collection is even or not
g='imran khan'
print(len(g))
print(('not even','even')[len(g)%2==0])

True
False
10
even

In [ ]:
#to check the length of the collection is less than 55 and greater than 16
a='abcdefghijklmnopqrsturwxyz'
print(len(a)>16 and len(a)<55)
# or
print(16<len(a)<55)

True
True

In [ ]:
# find the type of data by extracting the middle position of the collection. either 'str','list','tuple'ArithmeticError
a=[10,('a','b'),[10,20]]
print(type(a[len(a)//2]))
c=type(a[len(a)//2])
print(c in( str,list,tuple))

<class 'tuple'>
True

In [22]:
#68: to check the number is greater than 20 and less than 30 and it should be even
a=24
b=27
print(a>20 and a<30 and a%2==0) #OR
print(20<b<30 and b%2==0)
#69: to check the number is even and it should be less than 120
x=100
print(x%2==0 and x<120)
#70: to check the number is even and present in 40 to 70
y=50
print(y%2==0 and  (y>=40 and y<=70))
# or 
print(y%2==0 and y in range(40,70))
#71: to check the number is odd and it should be greater than 9
a=77
print(a%2!=0 and a>9)

True
False
True
True
True

In [3]:
#72: to check the number is less than 122 and greater than 48 and the number should be divisible by 4
a=120
print(a in range(48,122) and a%4==0)

True
False

In [24]:
#73: to check the number is divisible by 3 or 5,display the value
a=20
if (a%3==0 or a%5==0):
    print(a)
else:
    print('number is not divisible by 3 or 5 ')

20

In [5]:
#74: to check the number is between 100 to 200 including the limit
a=100
print(a in range (100,200))
print(a>=100 and a<=200)

True
True

In [7]:
#75: to check the number is between 100 to 200 
a=104
print(a>100 and a<200)

True

In [8]:
'''76: write a equation to check last charecter ascii value should be divisible by 5 or not'''
a=b'A';b=b'a'
print(list(a)[-1]%5==0 ,list(b)[-1]%5==0)
# or
a='apple'
print(ord(a[-1])%5==0)

True False
False

In [2]:
#77: to check the given number is b/w 60 to 130 and the number should be divisible by 3 and 4 and last digit should be greater than 9
n=129
print(60<=n<=130 and n%3==0 and n%4==0 and 9>n%10)
m=120
print(60<=m<=130 and m%3==0 and m%4==0 and 9>m%10)

False
True

In [5]:
#78: to check the given number is even or less than 25
n=24;m=49
print(n%2==0 or n<25,m%2==0 or m<25)

True False

In [7]:
#79: to the number is even or greater than 25
n=23;m=49
print(n%2==0 or n>25,m%2==0 or m>25)

False True

In [11]:
#80: to the number is divisible by 3 or 5
n=55;m=32
print(n%3==0 or  n%5==0 ,m%3==0 or m%5==0)

True False

In [12]:
#81: to check the number is not an even number
a=21
print(a%2!=0)

True

In [13]:
#82: to check the number is not an odd number
a=22
print(a%2==0)

True

In [14]:
#83: to check the number is not divisible by 3
a=23
print(a%3!=0)

True

In [15]:
#84: to check the number is not divisible by 3 and 5
a=23
print(a%2!=0)

True

In [16]:
#85: to check the number is not divisible by 3 or 5
a=25
print(a%3!=0 or a%5!=0)

True

In [21]:
#86: to check the given charecter ASCII value is divisible by 5
a='i'
print(len(a)==1 and ord(a)%5==0)

True

In [22]:
#87: to find the ASCII charecter in a given number
a=65
print(chr(a))

A

In [28]:
# 88: to find out the ASCII value in a given charecter
a='M'
print(len(a)==1 and ord(a))

77

In [37]:
#89: to check the given charecter is upper_case or not
a='E'
print('A'<=a<='Z') #or
print(65<=ord(a)<=90)#or
print(len(a)==1 and 'A'<=a<='Z')

True
True
True

In [42]:
#90: to check the given charecter is lower_case or not
a='E'
print('a'<=a<='z') #or
print(97<=ord(a)<=122)#or
print(len(a)==1 and 'a'<=a<='z')

False
False
False

In [44]:
#91: to check the charecter is alphabet or not
a='s'
print('a'<=a<='z' or 'A'<=a<='Z')

False

In [46]:
#92: to check the charecter is ASCII number (0....9)
a='5'
print( len(a)==1 and '0'<=a<='9')

True

In [47]:
#91: to check the charecter is special charecter or not
a='$'
print(not('a'<=a<='z' or 'A'<=a<='Z' or '0'<=a<='9'))

True

In [52]:
#94: to check given charecter should not be upper_case
a='D';b='a'
print(not('A'<=a<='Z'), not('A'<=b<='Z'))

False True

In [53]:
#95: to check given charecter should not be lower_case
a='D';b='a'
print(not('a'<=a<='z'), not('a'<=b<='z'))

True False

In [54]:
#96: to check given charecter should not be a alphabet
a='D';b='a'
print(not('A'<=a<='Z'), not('a'<=b<='z'))

False False

In [67]:
#97: to check given charecter should not be a ASCII number
a='3'
print(not('0'<=a<='9'))

False True

In [69]:
#98: to check given charecter should not be a special charecter
a='$';b='d'
print('a'<=a<='z' or 'A'<=a<='Z' or '0'<=a<='9')
print(('a'<=b<='z' or 'A'<=b<='Z' or '0'<=b<='9'))

False
True

In [75]:
#99: to check the charecter is a vowel
a='A';b='D'
print(a in 'aeiouAEIOU',b in 'aeiouAEIOU')
#OR
print('a'==a or 'e'==a or a=='i' or a=='o' or a=='u' or a=='A' or a=='E' or a=='I' or a=='O' or a=='U' , 'a'==b or 'e'==b or b=='i' or b=='o' or b=='u' or b=='A' or b=='E' or b=='I' or b=='O' or b=='U')

True False
True False

In [87]:
#100: to check the charecter is a consonent
a='A';b='D'
print(a not in 'aeiouAEIOU',b not in 'aeiouAEIOU')
#OR
print( a!='a' and a!='e' and a!='i' and a!='o' and a!='u' and a!='A' and a!='E' and a!='I' and a!='O' and a!='U' , b!='a' and b!='e' and b!='i' and b!='o' and b!='u' and b!='A' and b!='E' and b!='I' and b!='O' and b!='U')

False True
False True

.lower() is a built-in Python method primarily used for string handling. The .lower() method takes no arguments and returns the lowercased strings from the given string by converting each uppercase character to lowercase. If there are no uppercase characters in the given string, it returns the original string.
.upper(): to change the charecter lowercase to uppercase
.swapcase(): uppercase to lowercase or lowercase to uppercase
.isupper(): is a built-in method used for string handling. This method returns True if all characters in the string are uppercase, otherwise, returns “False”.  
.islower(): is a built-in method used for string handling. This method returns True if all characters in the string are lowercase, otherwise, returns “False”.

In [95]:
#101: to conver the given charecter upper_case to lower_case
a='IMRAN_7777'
print(a.lower())
print(a.swapcase())

imran_7777
imran_7777