In [64]:
#wap to print 'helloworld
print('helloworld')

helloworld

In [65]:
#wap to print multi variable syntax and type of variable
a,b,c,d=20,[20,40,50],{23,'str'},77.77j
print(a,b,c,d)
#type of data
print(type(a))
print(type(b))
print(type(c))
print(type(d))

20 [20, 40, 50] {'str', 23} 77.77j
<class 'int'>
<class 'list'>
<class 'set'>
<class 'complex'>

In [66]:
#wap to swap to values with  temp variable
a='hello'
print(a)
b='haii'
print(b)
temp =a
a=b
b=temp
print(a,b)
# without temp variable
m=[20,40]
print(m)
n=[70,80]
print(n)
m,n=n,m
print('m is:',m,'n is:',n)

hello
haii
haii hello
[20, 40]
[70, 80]
m is: [70, 80] n is: [20, 40]

In [8]:
#wap to convert single value to multi value datatype
#i/p a=20 , o/p a=['2','0']
a=20
a=str(a)
print(a)
print(list(a))
print(str(a))

20
['2', '0']
20

In [68]:
#to concate multi value datatype
a='hello'
a+='world'
print(a)
b=[10,30,20,40]
b+=(90,900)
print(b)
l=(20,44,22);l=l+(222,333)
print(l)
x={'10':20,30:'str',}
x|={'a':33}
print(x)

helloworld
[10, 30, 20, 40, 90, 900]
(20, 44, 22, 222, 333)
{'10': 20, 30: 'str', 'a': 33}

In [69]:
#wap to find middle value of the given collection
d=[999,333,444,222,777]
print(d[len(d)//2])
#wap to concate new string into middle of the existing string
var='starthings'
print(var)
var=var[0:len(var)//2]+' at middle of '+var[(len(var)//2)+1:]
print(var)

444
starthings
start at middle of ings

In [70]:
#wap to concate list and tuple values by using type_casting
l=['a','b','c']
t=(20,30,40)
l=l+list(t) # or l+=t we get same address
t=tuple(l)+t # or t+=tuple(l) we get deff address eventhough we use += operator. because tuple is immutable.


print(l)
print(t)

['a', 'b', 'c', 20, 30, 40]
('a', 'b', 'c', 20, 30, 40, 20, 30, 40)

In [71]:
#to check the given number is divisible by 3
a=323;b=30
print(a%3==0); print(b%3==0)
#to check the given number is divisible by 2 and 6
print(a%2==0 and a%6==0);print(b%2==0 and b%6==0)
# to extract the last digit from the given number without typecasting
n=1999
print(n%10)
# to check the last digit is divisible by 3 from the given integer number without typecasting
s=7777
print((s%10)%3==0)

False
True
False
True
9
False

In [72]:
# wap to extract last digit from a given number using type casting
a=23454
print(str(a)[-1])

'''wap to check the given number is divisible by 3 using type casting  '''
n=2026
print(int(str(n))%3==0)

4
False

In [10]:
#wap to check the given number is greater than 150
a=336
print(a>150)
# 60: wap to check the given number is even
print(('even','not even')[(a%2!=0)])
#61: wap to check the given number is odd
b=47
print(('odd','even')[(b%2==0)])
#59:to check the number is greater than 15 and less than 24
e=20
print(e>15 and e<24)

True
even
odd
True

range:-
in between :- start < value and value < end

between    :- start <= value and value <= end

range      :- start <= value and value <= end

In [74]:
#62: to check replication of a given string with 6
s='123';a=(20,30);b={10,20};c={10:20}
print(s*6)
print(a*6)
print(b*6)
print(c*6)
# unsuported operand * for set and dict

123123123123123123
(20, 30, 20, 30, 20, 30, 20, 30, 20, 30, 20, 30)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [ ]:
# to check the given number is divisible by 3 and also should be greater than 22
a=333;b=18
print(a%3==0 and a>22)
print(b%3==0 and b>22)
# to check the length of the collection is even or not
g='imran khan'
print(len(g))
print(('not even','even')[len(g)%2==0])

True
False
10
even

In [ ]:
#to check the length of the collection is less than 55 and greater than 16
a='abcdefghijklmnopqrsturwxyz'
print(len(a)>16 and len(a)<55)
# or
print(16<len(a)<55)

True
True

In [ ]:
# find the type of data by extracting the middle position of the collection. either 'str','list','tuple'ArithmeticError
a=[10,('a','b'),[10,20]]
print(type(a[len(a)//2]))
c=type(a[len(a)//2])
print(c in( str,list,tuple))

<class 'tuple'>
True

In [22]:
#68: to check the number is greater than 20 and less than 30 and it should be even
a=24
b=27
print(a>20 and a<30 and a%2==0) #OR
print(20<b<30 and b%2==0)
#69: to check the number is even and it should be less than 120
x=100
print(x%2==0 and x<120)
#70: to check the number is even and present in 40 to 70
y=50
print(y%2==0 and  (y>=40 and y<=70))
# or 
print(y%2==0 and y in range(40,70))
#71: to check the number is odd and it should be greater than 9
a=77
print(a%2!=0 and a>9)

True
False
True
True
True

In [3]:
#72: to check the number is less than 122 and greater than 48 and the number should be divisible by 4
a=120
print(a in range(48,122) and a%4==0)

True
False

In [24]:
#73: to check the number is divisible by 3 or 5,display the value
a=20
if (a%3==0 or a%5==0):
    print(a)
else:
    print('number is not divisible by 3 or 5 ')

20

In [5]:
#74/75: to check the number is between 100 to 200 including the limit
a=100
print(a in range (100,200))
print(a>=100 and a<=200)

True
True

In [7]:
#74: to check the number is between 100 to 200 
a=104
print(a>100 and a<200)

True