In [1]:
import pymysql
con=pymysql.connect(host='localhost',user='root',passwd='imran',database='scott')
cur1=con.cursor()
cur2=con.cursor()
cur1.execute('select* from emp')
res=cur1.fetchall()
print(res)

# cur2.execute('create table dellemp as select* from emp where 1=0')
# cur2.execute('COMMIT')
date=list()
for i in res:
    # print(i)
    date.append(i[4])
    # cur2.execute(f'insert into dellemp values{i[::]}')
print(date)
li=[]
for i in date:
    # print(i)
    li.append(str(i))
print(li)

((7369, 'SMITH', 'CLERK', 7902, datetime.date(1980, 12, 17), 800, None, 20), (7499, 'ALLEN', 'SALESMAN', 7698, datetime.date(1981, 2, 20), 1600, 300, 30), (7521, 'WARD', 'SALESMAN', 7698, datetime.date(1981, 2, 22), 1250, 500, 30), (7566, 'JONES', 'MANAGER', 7839, datetime.date(1981, 4, 2), 2975, None, 20), (7654, 'MARTIN', 'SALESMAN', 7698, datetime.date(1981, 9, 28), 1250, 1400, 30), (7698, 'BLAKE', 'MANAGER', 7839, datetime.date(1981, 5, 1), 2850, None, 30), (7782, 'CLARK', 'MANAGER', 7839, datetime.date(1981, 6, 9), 2450, None, 10), (7788, 'SCOTT', 'ANALYST', 7566, datetime.date(1987, 4, 19), 3000, None, 20), (7839, 'KING', 'PRESIDENT', None, datetime.date(1981, 11, 17), 5000, None, 10), (7844, 'TURNER', 'SALESMAN', 7698, datetime.date(1981, 9, 8), 1500, 0, 30), (7876, 'ADAMS', 'CLERK', 7788, datetime.date(1987, 5, 23), 1100, None, 20), (7900, 'JAMES', 'CLERK', 7698, datetime.date(1981, 12, 3), 950, None, 30), (7902, 'FORD', 'ANALYST', 7566, datetime.date(1981, 12, 3), 3000, None, 20), (7934, 'MILLER', 'CLERK', 7782, datetime.date(1982, 1, 23), 1300, None, 10))
[datetime.date(1980, 12, 17), datetime.date(1981, 2, 20), datetime.date(1981, 2, 22), datetime.date(1981, 4, 2), datetime.date(1981, 9, 28), datetime.date(1981, 5, 1), datetime.date(1981, 6, 9), datetime.date(1987, 4, 19), datetime.date(1981, 11, 17), datetime.date(1981, 9, 8), datetime.date(1987, 5, 23), datetime.date(1981, 12, 3), datetime.date(1981, 12, 3), datetime.date(1982, 1, 23)]
['1980-12-17', '1981-02-20', '1981-02-22', '1981-04-02', '1981-09-28', '1981-05-01', '1981-06-09', '1987-04-19', '1981-11-17', '1981-09-08', '1987-05-23', '1981-12-03', '1981-12-03', '1982-01-23']

In [2]:
print(res)
res2=[]
for i in range(0,len(res)):
    res2.append(list(res[i]))
    res2[i].insert(4,li[i])
print(res2)

((7369, 'SMITH', 'CLERK', 7902, datetime.date(1980, 12, 17), 800, None, 20), (7499, 'ALLEN', 'SALESMAN', 7698, datetime.date(1981, 2, 20), 1600, 300, 30), (7521, 'WARD', 'SALESMAN', 7698, datetime.date(1981, 2, 22), 1250, 500, 30), (7566, 'JONES', 'MANAGER', 7839, datetime.date(1981, 4, 2), 2975, None, 20), (7654, 'MARTIN', 'SALESMAN', 7698, datetime.date(1981, 9, 28), 1250, 1400, 30), (7698, 'BLAKE', 'MANAGER', 7839, datetime.date(1981, 5, 1), 2850, None, 30), (7782, 'CLARK', 'MANAGER', 7839, datetime.date(1981, 6, 9), 2450, None, 10), (7788, 'SCOTT', 'ANALYST', 7566, datetime.date(1987, 4, 19), 3000, None, 20), (7839, 'KING', 'PRESIDENT', None, datetime.date(1981, 11, 17), 5000, None, 10), (7844, 'TURNER', 'SALESMAN', 7698, datetime.date(1981, 9, 8), 1500, 0, 30), (7876, 'ADAMS', 'CLERK', 7788, datetime.date(1987, 5, 23), 1100, None, 20), (7900, 'JAMES', 'CLERK', 7698, datetime.date(1981, 12, 3), 950, None, 30), (7902, 'FORD', 'ANALYST', 7566, datetime.date(1981, 12, 3), 3000, None, 20), (7934, 'MILLER', 'CLERK', 7782, datetime.date(1982, 1, 23), 1300, None, 10))
[[7369, 'SMITH', 'CLERK', 7902, '1980-12-17', datetime.date(1980, 12, 17), 800, None, 20], [7499, 'ALLEN', 'SALESMAN', 7698, '1981-02-20', datetime.date(1981, 2, 20), 1600, 300, 30], [7521, 'WARD', 'SALESMAN', 7698, '1981-02-22', datetime.date(1981, 2, 22), 1250, 500, 30], [7566, 'JONES', 'MANAGER', 7839, '1981-04-02', datetime.date(1981, 4, 2), 2975, None, 20], [7654, 'MARTIN', 'SALESMAN', 7698, '1981-09-28', datetime.date(1981, 9, 28), 1250, 1400, 30], [7698, 'BLAKE', 'MANAGER', 7839, '1981-05-01', datetime.date(1981, 5, 1), 2850, None, 30], [7782, 'CLARK', 'MANAGER', 7839, '1981-06-09', datetime.date(1981, 6, 9), 2450, None, 10], [7788, 'SCOTT', 'ANALYST', 7566, '1987-04-19', datetime.date(1987, 4, 19), 3000, None, 20], [7839, 'KING', 'PRESIDENT', None, '1981-11-17', datetime.date(1981, 11, 17), 5000, None, 10], [7844, 'TURNER', 'SALESMAN', 7698, '1981-09-08', datetime.date(1981, 9, 8), 1500, 0, 30], [7876, 'ADAMS', 'CLERK', 7788, '1987-05-23', datetime.date(1987, 5, 23), 1100, None, 20], [7900, 'JAMES', 'CLERK', 7698, '1981-12-03', datetime.date(1981, 12, 3), 950, None, 30], [7902, 'FORD', 'ANALYST', 7566, '1981-12-03', datetime.date(1981, 12, 3), 3000, None, 20], [7934, 'MILLER', 'CLERK', 7782, '1982-01-23', datetime.date(1982, 1, 23), 1300, None, 10]]

In [3]:
print(res2)
for i in res2:
    for j in range(len(i)):
        if j==5:
            del i[j]
print(res2)
for i in range(len(res2)):
    for j in range(len(res2[i])):
        if res2[i][j]==None:
            res2[i][j]=0
print(res2)

[[7369, 'SMITH', 'CLERK', 7902, '1980-12-17', datetime.date(1980, 12, 17), 800, None, 20], [7499, 'ALLEN', 'SALESMAN', 7698, '1981-02-20', datetime.date(1981, 2, 20), 1600, 300, 30], [7521, 'WARD', 'SALESMAN', 7698, '1981-02-22', datetime.date(1981, 2, 22), 1250, 500, 30], [7566, 'JONES', 'MANAGER', 7839, '1981-04-02', datetime.date(1981, 4, 2), 2975, None, 20], [7654, 'MARTIN', 'SALESMAN', 7698, '1981-09-28', datetime.date(1981, 9, 28), 1250, 1400, 30], [7698, 'BLAKE', 'MANAGER', 7839, '1981-05-01', datetime.date(1981, 5, 1), 2850, None, 30], [7782, 'CLARK', 'MANAGER', 7839, '1981-06-09', datetime.date(1981, 6, 9), 2450, None, 10], [7788, 'SCOTT', 'ANALYST', 7566, '1987-04-19', datetime.date(1987, 4, 19), 3000, None, 20], [7839, 'KING', 'PRESIDENT', None, '1981-11-17', datetime.date(1981, 11, 17), 5000, None, 10], [7844, 'TURNER', 'SALESMAN', 7698, '1981-09-08', datetime.date(1981, 9, 8), 1500, 0, 30], [7876, 'ADAMS', 'CLERK', 7788, '1987-05-23', datetime.date(1987, 5, 23), 1100, None, 20], [7900, 'JAMES', 'CLERK', 7698, '1981-12-03', datetime.date(1981, 12, 3), 950, None, 30], [7902, 'FORD', 'ANALYST', 7566, '1981-12-03', datetime.date(1981, 12, 3), 3000, None, 20], [7934, 'MILLER', 'CLERK', 7782, '1982-01-23', datetime.date(1982, 1, 23), 1300, None, 10]]
[[7369, 'SMITH', 'CLERK', 7902, '1980-12-17', 800, None, 20], [7499, 'ALLEN', 'SALESMAN', 7698, '1981-02-20', 1600, 300, 30], [7521, 'WARD', 'SALESMAN', 7698, '1981-02-22', 1250, 500, 30], [7566, 'JONES', 'MANAGER', 7839, '1981-04-02', 2975, None, 20], [7654, 'MARTIN', 'SALESMAN', 7698, '1981-09-28', 1250, 1400, 30], [7698, 'BLAKE', 'MANAGER', 7839, '1981-05-01', 2850, None, 30], [7782, 'CLARK', 'MANAGER', 7839, '1981-06-09', 2450, None, 10], [7788, 'SCOTT', 'ANALYST', 7566, '1987-04-19', 3000, None, 20], [7839, 'KING', 'PRESIDENT', None, '1981-11-17', 5000, None, 10], [7844, 'TURNER', 'SALESMAN', 7698, '1981-09-08', 1500, 0, 30], [7876, 'ADAMS', 'CLERK', 7788, '1987-05-23', 1100, None, 20], [7900, 'JAMES', 'CLERK', 7698, '1981-12-03', 950, None, 30], [7902, 'FORD', 'ANALYST', 7566, '1981-12-03', 3000, None, 20], [7934, 'MILLER', 'CLERK', 7782, '1982-01-23', 1300, None, 10]]
[[7369, 'SMITH', 'CLERK', 7902, '1980-12-17', 800, 0, 20], [7499, 'ALLEN', 'SALESMAN', 7698, '1981-02-20', 1600, 300, 30], [7521, 'WARD', 'SALESMAN', 7698, '1981-02-22', 1250, 500, 30], [7566, 'JONES', 'MANAGER', 7839, '1981-04-02', 2975, 0, 20], [7654, 'MARTIN', 'SALESMAN', 7698, '1981-09-28', 1250, 1400, 30], [7698, 'BLAKE', 'MANAGER', 7839, '1981-05-01', 2850, 0, 30], [7782, 'CLARK', 'MANAGER', 7839, '1981-06-09', 2450, 0, 10], [7788, 'SCOTT', 'ANALYST', 7566, '1987-04-19', 3000, 0, 20], [7839, 'KING', 'PRESIDENT', 0, '1981-11-17', 5000, 0, 10], [7844, 'TURNER', 'SALESMAN', 7698, '1981-09-08', 1500, 0, 30], [7876, 'ADAMS', 'CLERK', 7788, '1987-05-23', 1100, 0, 20], [7900, 'JAMES', 'CLERK', 7698, '1981-12-03', 950, 0, 30], [7902, 'FORD', 'ANALYST', 7566, '1981-12-03', 3000, 0, 20], [7934, 'MILLER', 'CLERK', 7782, '1982-01-23', 1300, 0, 10]]

In [4]:
res3=[]
for i in res2:
    res3.append(tuple(i))
res3=tuple(res3)
print(res3)

((7369, 'SMITH', 'CLERK', 7902, '1980-12-17', 800, 0, 20), (7499, 'ALLEN', 'SALESMAN', 7698, '1981-02-20', 1600, 300, 30), (7521, 'WARD', 'SALESMAN', 7698, '1981-02-22', 1250, 500, 30), (7566, 'JONES', 'MANAGER', 7839, '1981-04-02', 2975, 0, 20), (7654, 'MARTIN', 'SALESMAN', 7698, '1981-09-28', 1250, 1400, 30), (7698, 'BLAKE', 'MANAGER', 7839, '1981-05-01', 2850, 0, 30), (7782, 'CLARK', 'MANAGER', 7839, '1981-06-09', 2450, 0, 10), (7788, 'SCOTT', 'ANALYST', 7566, '1987-04-19', 3000, 0, 20), (7839, 'KING', 'PRESIDENT', 0, '1981-11-17', 5000, 0, 10), (7844, 'TURNER', 'SALESMAN', 7698, '1981-09-08', 1500, 0, 30), (7876, 'ADAMS', 'CLERK', 7788, '1987-05-23', 1100, 0, 20), (7900, 'JAMES', 'CLERK', 7698, '1981-12-03', 950, 0, 30), (7902, 'FORD', 'ANALYST', 7566, '1981-12-03', 3000, 0, 20), (7934, 'MILLER', 'CLERK', 7782, '1982-01-23', 1300, 0, 10))

In [5]:
import pymysql
con=pymysql.connect(host='localhost',user='root',passwd='imran',database='scott')
cur1=con.cursor()
for i in range(0,len(res3)):
    a='insert into dellemp values'+f'{res3[i]}'
    print(a)
    cur1.execute(f'{a}')

insert into dellemp values(7369, 'SMITH', 'CLERK', 7902, '1980-12-17', 800, 0, 20)
insert into dellemp values(7499, 'ALLEN', 'SALESMAN', 7698, '1981-02-20', 1600, 300, 30)
insert into dellemp values(7521, 'WARD', 'SALESMAN', 7698, '1981-02-22', 1250, 500, 30)
insert into dellemp values(7566, 'JONES', 'MANAGER', 7839, '1981-04-02', 2975, 0, 20)
insert into dellemp values(7654, 'MARTIN', 'SALESMAN', 7698, '1981-09-28', 1250, 1400, 30)
insert into dellemp values(7698, 'BLAKE', 'MANAGER', 7839, '1981-05-01', 2850, 0, 30)
insert into dellemp values(7782, 'CLARK', 'MANAGER', 7839, '1981-06-09', 2450, 0, 10)
insert into dellemp values(7788, 'SCOTT', 'ANALYST', 7566, '1987-04-19', 3000, 0, 20)
insert into dellemp values(7839, 'KING', 'PRESIDENT', 0, '1981-11-17', 5000, 0, 10)
insert into dellemp values(7844, 'TURNER', 'SALESMAN', 7698, '1981-09-08', 1500, 0, 30)
insert into dellemp values(7876, 'ADAMS', 'CLERK', 7788, '1987-05-23', 1100, 0, 20)
insert into dellemp values(7900, 'JAMES', 'CLERK', 7698, '1981-12-03', 950, 0, 30)
insert into dellemp values(7902, 'FORD', 'ANALYST', 7566, '1981-12-03', 3000, 0, 20)
insert into dellemp values(7934, 'MILLER', 'CLERK', 7782, '1982-01-23', 1300, 0, 10)

In [6]:
con.commit()

In [7]:
cur1.execute('select* from dellemp')
res=cur1.fetchall()
print(res)

((7369, 'SMITH', 'CLERK', 7902, datetime.date(1980, 12, 17), 800, 0, 20), (7499, 'ALLEN', 'SALESMAN', 7698, datetime.date(1981, 2, 20), 1600, 300, 30), (7521, 'WARD', 'SALESMAN', 7698, datetime.date(1981, 2, 22), 1250, 500, 30), (7566, 'JONES', 'MANAGER', 7839, datetime.date(1981, 4, 2), 2975, 0, 20), (7654, 'MARTIN', 'SALESMAN', 7698, datetime.date(1981, 9, 28), 1250, 1400, 30), (7698, 'BLAKE', 'MANAGER', 7839, datetime.date(1981, 5, 1), 2850, 0, 30), (7782, 'CLARK', 'MANAGER', 7839, datetime.date(1981, 6, 9), 2450, 0, 10), (7788, 'SCOTT', 'ANALYST', 7566, datetime.date(1987, 4, 19), 3000, 0, 20), (7839, 'KING', 'PRESIDENT', 0, datetime.date(1981, 11, 17), 5000, 0, 10), (7844, 'TURNER', 'SALESMAN', 7698, datetime.date(1981, 9, 8), 1500, 0, 30), (7876, 'ADAMS', 'CLERK', 7788, datetime.date(1987, 5, 23), 1100, 0, 20), (7900, 'JAMES', 'CLERK', 7698, datetime.date(1981, 12, 3), 950, 0, 30), (7902, 'FORD', 'ANALYST', 7566, datetime.date(1981, 12, 3), 3000, 0, 20), (7934, 'MILLER', 'CLERK', 7782, datetime.date(1982, 1, 23), 1300, 0, 10), (7369, 'SMITH', 'CLERK', 7902, datetime.date(1980, 12, 17), 800, 0, 20), (7499, 'ALLEN', 'SALESMAN', 7698, datetime.date(1981, 2, 20), 1600, 300, 30), (7521, 'WARD', 'SALESMAN', 7698, datetime.date(1981, 2, 22), 1250, 500, 30), (7566, 'JONES', 'MANAGER', 7839, datetime.date(1981, 4, 2), 2975, 0, 20), (7654, 'MARTIN', 'SALESMAN', 7698, datetime.date(1981, 9, 28), 1250, 1400, 30), (7698, 'BLAKE', 'MANAGER', 7839, datetime.date(1981, 5, 1), 2850, 0, 30), (7782, 'CLARK', 'MANAGER', 7839, datetime.date(1981, 6, 9), 2450, 0, 10), (7788, 'SCOTT', 'ANALYST', 7566, datetime.date(1987, 4, 19), 3000, 0, 20), (7839, 'KING', 'PRESIDENT', 0, datetime.date(1981, 11, 17), 5000, 0, 10), (7844, 'TURNER', 'SALESMAN', 7698, datetime.date(1981, 9, 8), 1500, 0, 30), (7876, 'ADAMS', 'CLERK', 7788, datetime.date(1987, 5, 23), 1100, 0, 20), (7900, 'JAMES', 'CLERK', 7698, datetime.date(1981, 12, 3), 950, 0, 30), (7902, 'FORD', 'ANALYST', 7566, datetime.date(1981, 12, 3), 3000, 0, 20), (7934, 'MILLER', 'CLERK', 7782, datetime.date(1982, 1, 23), 1300, 0, 10))