While looping.

1.WAP to print the “hello world” for 5 times by using a while loop.

In [1]:
a=5
while a:
    print('hellow world')
    a-=1

hellow world
hellow world
hellow world
hellow world
hellow world

2.WAP to print the number from 1 to 10 by using a while loop.

In [3]:
a=10
b=1
while b<=a:
    print(b)
    b+=1

1
2
3
4
5
6
7
8
9
10

3.WAP to print the natural number until 1 to nth times by using a while loop.

In [1]:
a=10
b=1
while b<=a:
    print(b)
    b+=1

1
2
3
4
5
6
7
8
9
10

4.WAP to print the reverse of the natural number nth to 0 times by using a while loop.

In [2]:
n=10
while n:
    print(n)
    n-=1

10
9
8
7
6
5
4
3
2
1

5.WAP to print the whole number until nth times by using a while loop.

In [3]:
a=10
b=0
while b<=a:
    print(b)
    b+=1

0
1
2
3
4
5
6
7
8
9
10

6.WAP to print the reverse of the whole number until nth times by using a while loop.

In [6]:
a=10
while a:
    print(a)
    a-=1
    if a==0:
        print(a)

10
9
8
7
6
5
4
3
2
1
0

7.WAP to print the even number until nth times by using a while loop.

In [6]:
n=10
a=1
while a<=n:
    if a%2==0:
        print(a)
    a+=1

2
4
6
8
10

8.WAP to print reserve the even number until nth times by using a while loop.

In [7]:
n=10
while n:
    if n%2==0:
        print(n)
    n-=1

10
8
6
4
2

9.WAP to print the odd number until nth times by using a while loop.

In [8]:
n=10
a=1
while a<=n:
    if a%2==1:
        print(a)
    a+=1

1
3
5
7
9

10.WAP to print reserve the odd number until nth times by using a while loop.

In [9]:
n=10
while n:
    if n%2==1:
        print(n)
    n-=1

9
7
5
3
1

11.WAP to print the nth table 1 to 20, format ==> 5 * 1 = 5 to 5 * 20 = 100

In [9]:
n=5
a=20
b=1
while b<=a:
    print(f'{n} * {b} =',n*b)
    b+=1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100

12.WAP to print the nth table 20 to 1, format ==> 5 * 20 = 100 to 5 * 1 = 5

In [10]:
n=5
a=20
while a:
    print(f'{n} * {a} =',n*a)
    a-=1

5 * 20 = 100
5 * 19 = 95
5 * 18 = 90
5 * 17 = 85
5 * 16 = 80
5 * 15 = 75
5 * 14 = 70
5 * 13 = 65
5 * 12 = 60
5 * 11 = 55
5 * 10 = 50
5 * 9 = 45
5 * 8 = 40
5 * 7 = 35
5 * 6 = 30
5 * 5 = 25
5 * 4 = 20
5 * 3 = 15
5 * 2 = 10
5 * 1 = 5

13.WAP to print the numbers which are divisible by 3 from 25 to 66.

In [11]:
n=25
m=66
while n<=m:
    if n%3==0:
        print(n)
    n+=1

27
30
33
36
39
42
45
48
51
54
57
60
63
66

14.WAP to print the numbers which are divisible by 3 and 5 from 15 to 76.

In [13]:
n=25
m=76
while n<=m:
    if n%3==0 and n%5==0:
        print(n)
    n+=1

30
45
60
75

15.WAP to print the numbers which are divisible by 5 and 7 from 77 to 22.

In [10]:
n=77
a=22
while a<=n:
    if a%5==0 and a%7==0:
        print(a)
    a+=1

35
70

16.WAP to print the ”love you” if value is divisible by 3, or print “hate you” value is divisible by 5, to print “i like you” if divisible by 3 and 5, from 1 to 30.

In [15]:
n=25
m=66
while n<=m:
    if n%3==0 and n%5==0:
        print(f'{n} i like you')
    elif n%3==0:
        print(f'{n} love you')
    elif n%5==0:
        print(f'{n} hate you')
    n+=1

25 hate you
27 love you
30 i like you
33 love you
35 hate you
36 love you
39 love you
40 hate you
42 love you
45 i like you
48 love you
50 hate you
51 love you
54 love you
55 hate you
57 love you
60 i like you
63 love you
65 hate you
66 love you

17.WAP to print sum of the 1 to nth natural numbers.

In [12]:
n=10
a=0
sum=0
while a<=n:
    sum+=a
    a+=1
print(sum)

55

18.WAP to print sum of the even numbers 1 to 20 numbers.

In [14]:
n=20
a=0
sum=0
while a<=n:
    if a%2==0:
        sum+=a
    a+=1
print(sum)

110

19.WAP to print products of the 1 to 6 numbers.

In [3]:
a=1
n=6
b=1
while a<=n:
    b*=a
    a+=1
print(b)

720

20.WAP to count the no of odd values from 1 to 30 numbers.

In [4]:
a=1
n=30
count=0
while a<=n:
    if a%2!=0:
        count+=1
    a+=1
print(count)

15

21.WAP to print the factors of the given number.

In [8]:
n=8
a=1
while a<=n:
    if n%a==0:
        print(a)
    a+=1

1
2
4
8

22.WAP to sum of the factors of the given number.

In [9]:
n=8
a=1
b=0
while a<=n:
    if n%a==0:
        b+=a
    a+=1
print(b)

15

23.WAP to prod of the factors of the given number.

In [10]:
n=8
a=1
b=1
while a<=n:
    if n%a==0:
        b*=a
    a+=1
print(b)

64

24.WAP to print Fibonacci series 0 to nth.

In [28]:
n=5
a=0
b=1
print(a)
print(b)
m=0
while n:
    m=a+b
    print(m)
    a,b=b,m

    n-=1

0
1
1
2
3
5
8

25.WAP to find out the factorial number of a given number.

In [29]:
a=5
b=1
pro=1
while b<=a:
    pro*=b
    b+=1
print(pro)

120

26.WAP to print the factorial numbers in the given range m to n.

In [10]:
m=1
n=10
while m<=n:
    ppro=1
    a=m
    b=1
    while b<=a:
        ppro*=b
        b+=1
    print(f'{m} => {ppro}')
    m+=1

1 => 1
2 => 2
3 => 6
4 => 24
5 => 120
6 => 720
7 => 5040
8 => 40320
9 => 362880
10 => 3628800

27.WAP to check whether a given number is a prime number or not.

In [4]:
n=10
a=1
count=0
while a<=n:
    if n%a==0:
        count+=1
    a+=1
if 1<=count<=2:
    print(f'{n} is prime number')
else:
    print(f'{n} not a prime number')

10 not a prime number

28.WAP to print the prime numbers in the given range m to n.

In [5]:
n1=0
n2=5
while n1<=n2:
    n=n1
    a=1
    count=0
    while a<=n:
        if n%a==0:
            count+=1
        a+=1
    if 1<=count<=2:
        print(f'{n} is prime number')
    else:
        print(f'{n} not a prime number')
    n1+=1

0 not a prime number
1 is prime number
2 is prime number
3 is prime number
4 not a prime number
5 is prime number

29.WAP to check whether a given number is an armstrong number or not.

30.WAP to print the armstrong numbers in the given range m to n.

31.Write a program to print prime series 1 to nth.

In [8]:
a=0
n=10
while a<=n:
    b=a
    c=1
    count=0
    while c<=b:
        if b%c==0:
            count+=1
        c+=1
    if 1<=count<=2:
        print(f'{a} prime number')
    a+=1

1 prime number
2 prime number
3 prime number
5 prime number
7 prime number

32.Write a program to print 1 to 100 prime numbers in fibonacci series

33.Write a program Sum of prime numbers in a given collection

34.WAP to the given number is palindrome or not.

35.WAP to check whether the length of the string is even or odd. If it is even, print that string 10 times. If it is not printed 5 times.

36.WAP to print the uppercase character from ‘A’ to ‘Z’ by using a while loop.

37.WAP to print the lowercase character from ‘a’ to ‘z’ by using a while loop.

38.WAP to print the ascii numbers character from ‘0’ to ‘9’ by using a while loop.

39.WAP to print the uppercase character from ‘E’ to ‘U’ by using a while loop.

40.WAP to print the uppercase character from ‘Z’ to ‘A’ by using a while loop.

41.WAP to print the uppercase character from ‘U’ to ‘G’ by using a while loop.

42.WAP to print the lowercase character from ‘i’ to ‘y’ by using a while loop.

43.WAP to print the lowercase character from ‘z’ to ‘a’ by using a while loop.

44.WAP to print the lowercase character from ‘p’ to ‘c’ by using a while loop.

45.WAP to print the uppercase characters based on even ascii values.

46.WAP to print the lowercase characters based on even ascii values.

47.WAP to print the uppercase characters based on odd ascii values.

48.WAP to print the lowercase characters based on odd ascii values.

49.WAP to print all the even characters from ‘A’ to ‘Z’.

50.WAP to print all the odd characters from ‘a’ to ‘z’.

51.WAP to count the number of vowels present in D to V.

52.WAP to count the number of vowels present in u to e.

53.WAP to print the square of the number in between the range from m to n which
is multiple of 3. WAP to print a number from range m to m which is divisible by
5.

54.Write a program which takes an integer number and find the sum of digits and
repeat until the sum gets a single digit in the end.
Example:
Input 5643

Example:
 5+6+4+3 =>18
 1+8=>9
Output 9

55.Write a program to count the numbers of 2’s between 0 and n
Input n=35
 Example: 2,12,20,21,22,23,24,25,26,27,28,29,32
Output 14

56.wap to find max product of three numbers from the given integer array
input arr()=6,3,2,0,10
 example:10*6*2
 output:180